@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome EvenTo</h1>
    <p><a asp-controller="Event" asp-action="getAllEvents">View Events Here</a>.</p>
</div>
